header{
  transition:all 0.4s;
}

.hidden-one{
  opacity:0;
  transition: all 1s;
  transform: translateY(20%);
  z-index:0;
}

.hidden-two{
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100%);
  z-index: 0;
}

.reveal{
  opacity:1;
  transform: translateX(0);
  z-index: 2;
}

.row-cards:nth-child(1){
  transition-delay: 200ms;
}

.row-cards:nth-child(2){
  transition-delay: 400ms;
}

.row-cards:nth-child(3){
  transition-delay: 600ms;
}

.show{
  opacity:1;
  transform: translateY(0);
  transform: translateX(0);
  z-index: 2;
}