@font-face {
  font-family: 'outfit-bold';
  src: url(fonts/outfit/static/Outfit-ExtraBold.ttf);
}

@font-face {
  font-family: 'Outfit-regular';
  src: url(fonts/outfit/static/Outfit-Medium.ttf);
}

@font-face {
  font-family: 'figtree';
  src: url(fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'young-serif';
  src: url(fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: 'zelando';
  src: url(fonts/Zalando_Sans_Expanded/ZalandoSansExpanded-VariableFont_wght.ttf);
}

body,html{
  display: grid;
  place-items: center;
  height: 100%;
  background-color: #111;
  font-family: 'outfit-regular';
  color:white;
}

#container{
  width:clamp(22rem,4vw,25rem);
  height: fit-content;
  border-radius:20px;
  padding: 20px;
  position: relative;
}

@property --deg {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

#container::before,
#container::after{
  content: '';
  position: absolute;
  inset: 0;
  height: calc(initial-value + 100px);
  background: conic-gradient(
    from var(--deg) at center,
    #00ffee,
    #6b0199,
    #7401e8,
    #00ffee
  );
  border-radius: inherit;
  z-index: -1;
  animation: autoRotate 5s linear infinite;
}

#container::after { 
  filter: blur(10px);
}

@keyframes autoRotate {
  to{
    --deg:360deg;
  }
}

label{
  display: block;
  margin-bottom:40px;
}

input{
  width:20rem;
  padding: 8px;
  height:25px;
  margin-left:4px;
  outline-offset: none;
  outline: none;
  border:0;
  border-radius:12px;
  border-bottom:3px solid rgb(7, 156, 220);
  font-family: 'figtree';
  font-size: 1.2rem;
  transition: border-bottom 0.4s;
}

input:focus{
  border-bottom:3px solid rgb(222, 172, 8);
}

button{
  width:5rem;
  height:35px;
  background-color: rgb(255, 221, 0);
  border:0;
  border-radius: 20px;
  font-family: 'figtree';
  font-size:1rem;
  font-weight: bold;
  cursor:pointer;
}